.auth-container{
  .flex-container{
    flex-direction: column;
    margin: 0 auto;
    width: 50%;
    padding: 2%;
    height: 100vh;
    justify-content: center;
    h5{
      text-align: center;
      padding: 5%;
      font-size: 3em;
      color: #2E363E;
    }
    p{
      text-align: center;
    }
    .login, .password{
      width: 50%;
      padding: 2%;
      margin: 1% auto;
      border-radius: 10px;
      border: 1px solid #145FCE;
    }
    .auth-btn {
      padding: 2%;
      width: 20%;
      border-radius: 10px;
      background-color: #145FCE;
      border: 1px solid #145FCE;
      color: #FFFFFF;
      margin: 5% auto;
      cursor: pointer;
      transition: all .5s;
      &:hover {
        border-radius: 25px;
        background-color: #FFFFFF;
        color: #145FCE;
        border: 1px solid #145FCE;
      }
    }
  }
}