.advantages{
	text-align: center;
	padding: 0;
	background-color: $dark;
	.advantages__bg{
		background: url("./../img/gerb.svg") center center / 50% no-repeat;
		width: 100%;
		height: 95vh;
		max-width: 1400px;
    	margin: 24px auto;
		display: flex;
		align-items: center;
		.container{
			h2{
				color: $white;
				padding: 80px;
			}
			.flex-container{
				justify-content: space-around;
				text-align: center;	
				flex-wrap: wrap;
				.advantages__elem{
					flex: 20% 0 0;
					.advantages__elem_text{
						h5{
							font-weight: 600;
							font-size: 16px;
							line-height: 24px;
							color: $white;
							max-width: 180px;
							margin: 24px auto 0;
						}
						p{
							color: $lightgray;
							font-size: 14px;
							line-height: 24px;
							max-width: 236px;
							margin: 8px auto 0;
						}
					}
				}
			}
		}
	}
}

@media (max-width: 900px) {
	.advantages__elem{
		margin-top: 16px;
		flex: 100% 0 0 !important;
	}
	.advantages__elem_text{
		h5{
			padding-top: 8px !important; 
			height: auto !important;
		}
		p{
			padding-top: 8px !important;
			line-height: 12px !important;
		}
	}
}