@import "nullstyles";

.audit__section{
  padding-bottom: 4%;
  .container{
    .flex-container{
      padding: 4% 6%;
      justify-content: flex-start;
      align-items: center;
      .audit__section_image{
        flex: 0 0 auto;
        display: flex;
        img {width: 90%;}
      }

      .audit__section_text{
        flex: 0 0 55%;
        p{
          align-items: center;
          margin: 5% 0;
        }
        .btn{
          border: 1.4px solid #161F26;
        }
      }
    }
    .audit__content{
      .audit__content_item {
        margin-top: 3%;
        padding: 16px;
        border: 1px solid #CAD5DD;
        border-radius: 4px;
        h2{
          margin-bottom: 1%;
        }
        p{
          margin-top: 1%;
        }
      }
    }
  }
}

//responsive///////////////////////////////////////////////////////////////////

@media(max-width: 1024px) {
  .audit__section{
    .container{
      .flex-container{
        padding: 4% 0;
        .audit__section_image{
          flex: 0 0 35%;
          img {width: 95%;}
        }

        .audit__section_text{
          flex: 0 0 65%;
        }
      }
    }
  }
}
@media(max-width: 780px) {
  .audit__section{
    .container{
      padding: 16px;
      .flex-container{
        padding: 4% 0;
        .audit__section_image{
          display: none;
        }

        .audit__section_text{
          flex: 0 0 100%;
          p {
            margin: 2% 0;
          }
        }
      }
    }
  }
}