.blog__bg{
	position: relative;
	width: 100%;
	background: url("../img/earth.svg") no-repeat center;
	background-size: contain;
	padding: 3% 0 12%;
	margin-top: 2%;
}
.blog__link-container {
	padding-top: 6.5% !important;
	align-items: center;
}
.blog__section{
	padding: 0;
	margin-top: 0 !important;
	.blue__head{
		text-align: left;
	}
	.flex-container{
		flex-wrap: wrap;
		justify-content: space-between;
		//height: 1000px;
		.blog__elem{
			flex: 1 1 auto; 
			margin-top: 2%;
			padding: 2% ;
			background-color: $white !important;
			@include block-style;
			transition: all .4s;
			a, a:hover, a:active, a:focus{
				color: $dark;
			}

			&:hover{
				transform: translateY(-2%);
				box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.2);
			}
			&:nth-child(1){
				flex: 0 0 32% ;
				background:  url(../img/blog/blogFirst.svg) right 0 / 50% no-repeat;
				h3, p{
					width: 80%;
				}
			}
			&:nth-child(2){
				flex: 0 0 66% ;
				background:  url(../img/blog/blogSecond.svg) right 0 / 50% no-repeat;
				h3 { width: 38%; }
				p { width: 85%; }
			}
			&:nth-child(3){
				flex: 0 0 40%;
				background:  url(../img/blog/blogThree.svg) left bottom no-repeat;
				background-size: 95%;
				p{
					width: 65%;
					color: $white;
					margin-top: 10%;
				}

			}
			&:nth-child(4){
				flex: 0 0 34%;
				background:  url(../img/blog/blogFour.svg) right bottom  no-repeat;
				background-size: 30%;
				p { width: 68%; }
				h3 { width: 90%;}
			}
			&:nth-child(5){
				flex: 0 0 20%;
				background:  url(../img/blog/blogFive.svg) right bottom  no-repeat;
				background-size: 100%;
				p{
					color: $white;
					width: 50%;
					margin-top: 40%;
				}
			}
			h3{
				font-style: normal;
				font-weight: 600;
				@include adaptiv-font(26, 14);
				line-height: 30px;
				color: #161F26;
			}
			p {
				margin-top: 32px;
				line-height: 20px;
			}
		}
	}
}
.blog__link-container{
	padding-top: 5%;
	justify-content: space-between;
	.link-group{
		flex: 0 0 60%;
		justify-content: flex-end;
	}
}
.blog__btn{
	font-weight: 500;
	font-size: 14px !important;
	padding: 11px  !important;
	height: 40px !important;
	margin: 0 0 0 24px !important;
	&:hover{
		border:1px solid $dark !important;
		box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05) !important;
	}
	&.active{
		border:1px solid $dark !important;
		background-color: $dark !important;
		color: $white !important;
		box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05) !important;
	}
}

//responsive/////////////////////////////////////////////////////////////////

@media(min-width: 1921px){
	.blog__section .flex-container .blog__elem:nth-child(3) p {
		width: 60%;
		margin-top: 15%;
	}

}

@media (max-width: 1484px) and (min-width: 992px) {
	.blog__link-container .link-group {
		flex: 0 0 85%;
	}
	.blog__section {
		.flex-container {
			.blog__elem {
				&:nth-child(1) {
					flex: 0 0 60%;
					order: 1;
					background-size: 30%;
					h3{width: 50%}
				}
				&:nth-child(2) {
					order: 3;
					p{display: none}
					flex: 0 0 60%;
				}
				&:nth-child(3) {
					display: none;
				}
				&:nth-child(4) {
					order: 2;
					p{display: none}
					flex: 0 0 38%;
					background-size: 28%;
				}
				&:nth-child(5) {
					min-height: 200px;
					order: 4;
					flex: 0 0 38%;
					background-position: top left;
					background-size: 80%;
					p{display: none}
				}
			}
		}
	}
}

@media (max-width: 991.999999px)  and (min-width: 768.01px){
	.blog__link-container {
		flex-wrap: wrap;
		justify-content: center;
		.link-group {
			flex: 0 0 100%;
			justify-content: space-between;
			.blog__btn{margin: 3% 0 !important}
		}
	}
	.blog__section {
		.flex-container {
			.blog__elem {
				&:nth-child(1) {
					flex: 0 0 60%;
					order: 1;
					background-size: 30%;
					h3{width: 50%}
				}
				&:nth-child(2) {
					order: 3;
					p{display: none}
					flex: 0 0 60%;
				}
				&:nth-child(3) {
					display: none;
				}
				&:nth-child(4) {
					order: 2;
					p{display: none}
					flex: 0 0 38%;
					background-size: 28%;
				}
				&:nth-child(5) {
					min-height: 200px;
					order: 4;
					flex: 0 0 38%;
					background-position: top left;
					background-size: 80%;
					p{display: none}
				}
			}
		}
	}
}

@media (max-width: 768px) {
	.blog-container{padding: 0 16px !important;}
	.blog__section {display: none;}
	.blog__link-container {
		flex-wrap: wrap;
		justify-content: center;
		flex-direction: column;

		.link-group {
			flex: 0 0 auto;
			margin-top: 2%;
			justify-content: space-between;
			flex-direction: column;
			.blog__btn{margin: 3% 0 !important}
		}
	}
}