.clients{
	background-color: transparent;
	margin-top: 0;
	.container{
		position: relative;
		h2{
			text-align: center;
			padding-top: 4%;
		}
	}
	.clients__swiper{
		padding: 0 5% 3%;
		margin-top: 4%;
		height: auto;
		.swiper-wrapper{
			align-items: center;
			.client{
				text-align: center;
				img{
					margin: 0 auto;
					max-width: 100%;
				}
			}
		}
	}
}

@media (max-width: 900px) {
	.clients .clients__swiper .client img {
    	//width: 65%;
    	//height: 100px;
	}
	.clients .container h2{
		padding-top: 2%;
		margin-bottom: 0;
	}
}