footer {
	margin-top: 2%;
	.download__mobile {
		display: none;
		width: 100%;
	}

	.footer__content {
		.footer__content_top {
			justify-content: space-between;
			align-items: center;

			.blue__head {
				text-align: left;
			}

			.footer_download {
				flex: 70% 1 1;
				text-align: right;

				a {
					text-transform: uppercase;
					background: transparent;
					border: 1px solid $lightgray;
					border-radius: 4px;
					@include adaptiv-font(12, 10);
					font-weight: 600;
					display: inline-block;
					height: 48px;
					text-align: center;
					padding: 1%;

					&:hover {
						border: 1px solid $dark;
						box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05);
					}

					&:nth-child(1) {
						width: 18%;
					}

					&:nth-child(2) {
						width: 32%;
					}

					img, p {
						display: inline-block;
					}
				}
			}
		}

		h4 {
			font-style: normal;
			font-weight: 700;
			@include adaptiv-font(16, 14);
			line-height: 24px;
			color: $dark;
			letter-spacing: 0.02em;
		}

		.top-contacts__container, .bottom-contacts__container {
			p {
				margin-top: 24px;
				@include adaptiv-font(16, 14);
				font-weight: 400;

				span {
					color: #798A97;
				}

				a {
					color: $dark;
					font-weight: 500;

					&:hover {
						text-decoration: underline;
					}
				}
			}
		}

		.top-contacts__container {
			justify-content: space-between;

			.contacts_spb {
				flex: 0 0 20%;
				margin-top: 3%;
				background-color: $white;
				box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.05);
				border-radius: 8px;
				padding: 1%;
			}

			.map {
				flex: 0 0 78%;
				margin-top: 3%;
				@include block-style;
				padding: 1%;

				iframe {
					border-radius: 20px;
					height: 100%;
				}
			}
		}

		.bottom-contacts__container {
			justify-content: flex-start;
			margin-top: 1%;

			.contacts {
				background-color: $white;
				box-shadow: 0 20px 40px rgba(0, 0, 0, 0.05);
				border-radius: 8px;
				margin-right: 2%;
				flex: 0 0 16%;
				padding: 1%;
				margin-top: 1%;
			}

			.contacts_callback {
				flex: 0 0 30%;
				display: flex;
				flex-direction: column;
				justify-content: space-between;

				input {
					font-style: normal;
					font-weight: 500;
					font-size: 16px;
					line-height: 22px;
					color: $dark;
					width: 49%;
					height: 50px;
					border: 1px solid #B2BBB9;
					box-sizing: border-box;
					border-radius: 4px;
					padding-left: 2%;
				}

				button {
					height: 50px;
					//@include adaptiv-font(14, 12);
					width: 49%;
					margin: 0 0 0 2%;
					color: $white;
					border: 1px solid transparent;
					background-color: $dark;
					padding: 12px;
					&:hover {
						border: 1px solid $dark;
						background-color: transparent;
						color: $dark;
					}

					&:disabled {
						opacity: 0.5;
						&:hover {
							border: 1px solid transparent;
							background-color: $dark;
							color: $white;
						}
					}
				}
			}
		}
	}

	.footer__white {
		.flex-container {
			justify-content: space-around;
			align-items: center;
			height: 120px;
			filter: drop-shadow(0px -20px 40px rgba(0, 0, 0, 0.05));
			background: #FFFFFF;
			margin-top: 3%;
		}
	}
}

// responsive/////////////////////////////////////////////////////////////////

@media (max-width: 1484px) and (min-width: 992.1px) {
	footer {
		.footer__content {
			.footer__content_top {
				.footer_download {
					a {
						padding: 12px;

						&:nth-child(1) {
							width: 25%;
						}

						&:nth-child(2) {
							width: 45%;
						}
					}
				}
			}

			.top-contacts__container {
				.contacts_spb {
					flex: 0 0 30%;
				}

				.map {
					flex: 0 0 68%;
				}
			}

			.bottom-contacts__container {
				.contacts {
					flex: 0 0 20%;
				}

				.contacts_callback {
					flex: 0 0 34%;
					button, input{font-size: 13px;}
				}
			}
		}

		.footer__white {
			.flex-container {
				padding: 0 12px;
				height: 90px;
			}
		}
	}
}
@media (max-width: 992px)  {
	footer {
		.footer__content {
			margin-top: 10%;
			.footer__content_top {
				align-items: flex-start;

				.footer_download {
					display: flex;
					flex-direction: column;
					align-items: flex-end;

					a {
						padding: 12px;

						&:nth-child(1) {
							width: 35%;
						}

						&:nth-child(2) {
							width: 65%;
						}
					}
				}
			}

			.top-contacts__container {
				flex-wrap: wrap;

				.contacts_spb {
					flex: 0 0 100%;
					display: flex;
					flex-wrap: wrap;
					justify-content: space-between;
					align-items: flex-start;

					h4 {
						flex: 0 0 100%
					}

					p {
						flex: 0 0 33%
					}
				}

				.map {
					flex: 0 0 100%;
					min-height: 300px;
				}
			}

			.bottom-contacts__container {
				flex-wrap: wrap;

				.contacts {
					flex: 0 0 25%;
				}

				.contacts_callback {
					flex: 0 0 50%;
					min-height: 120px;
					button, input{font-size: 13px;}
				}
			}
		}

		.footer__white {
			.flex-container {
				padding: 0 12px;
				height: 90px;
				flex-wrap: wrap;
				justify-content: space-around;

				.footer__white_elem {
					flex: 0 0 24% !important;

					img {
						height: 3.5em;
					}
				}
			}
		}
	}
}

@media (max-width: 768px) {
	footer {
		.footer__content {
			padding: 0 16px !important;

			.footer__content_top {
				align-items: center;
				flex-direction: column;

				.footer_download {
					width: 100%;
					display: flex;
					flex-direction: column;

					a {
						padding: 12px;
						width: 100% !important;
						margin: 8px auto;
					}
				}
			}

			.top-contacts__container {
				flex-wrap: wrap;

				.contacts_spb {
					background: transparent;
					box-shadow: none;
					flex: 0 0 100%;
					display: flex;
					flex-wrap: wrap;
					justify-content: space-between;
					align-items: flex-start;

					h4 {
						flex: 0 0 100%
					}

					p {
						flex: 0 0 100%
					}
				}

				.map {
					background: transparent;
					box-shadow: none;
					flex: 0 0 100%;
					min-height: 300px;

					iframe {
						border-radius: 0;
					}
				}
			}

			.bottom-contacts__container {
				flex-wrap: wrap;

				.contacts {
					flex: 0 0 100%;
					background: transparent;
					box-shadow: none;

					p {
						margin-top: 0;
					}
				}

				.contacts_callback {
					flex: 0 0 100%;
					min-height: 120px;
					text-align: center;

					form {
						display: flex;
						flex-direction: column;
						align-items: center;

						input {
							width: 98%;
						}

						button {
							width: 98%;
							margin-left: 0;
							margin-top: 8px;
						}
					}
				}
			}
		}

		.footer__white {
			.flex-container {
				padding: 0 12px;
				height: auto;
				flex-wrap: wrap;
				justify-content: space-around;

				.footer__white_elem {
					text-align: center;
					flex: 0 0 100% !important;

					img {
						height: auto;
						margin-top: 8px;
					}
				}
			}
		}
	}
}