.header-body{
	z-index: 5;
	padding: 1% 0;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: $dark;
	box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
	.flex-container{
		margin: 0 auto;
		width: 100%;
		align-items: center;
		justify-content: space-between;
	}

	.header__burger{display: none;}	

	.header__brand{
		width: calc(40%/4);
		.link{
			img{
				width: 100%;
			}
		}
	}
	
	.header__navigation{
		flex: 40% 0 1;
		.navigation{
			.menu{
				display: flex;
				justify-content: flex-start;
				align-items: center;
				li{
					padding: 2%;
					border-radius: 0;
					border-bottom: 1px solid transparent;

					&:hover{
						>a{
							border: 1px solid #3B4853;
							color: $white;
						}
					}

					a{
						border: 1px solid transparent;
						border-radius: 4px;
						transition: all .2s ease-in-out;
						cursor: pointer;
						@include adaptiv-font(16, 12);
						line-height: 24px;
						font-weight: 500;
						padding: 8px;
						color: #9FB3C3;
						&.active{
							border: 1px solid transparent;
							background-color: rgba(255, 255, 255, 0.05);
							color: $white;
						}
					}
				}
			}	
		}	
	}

	.header__numbers{
		display: flex;
		flex: 30% 0 1;
		justify-content: flex-end;
		a{
			line-height: 20px;
			color: #798A97;
			text-transform: uppercase;
			margin: 0 2%;
			@include adaptiv-font(12, 10);
			font-weight: 500;
			transition: all .3s ease-in-out!important;
			span{
				@include adaptiv-font(14, 11);
				color: $white;
			}
			&:hover{
				color: $white;
			}
		}
	}
		
	.header__btn{
		button{
			width: auto;
			height: auto;
			padding: 12px 16px;
			font-weight: 400;
			font-size: 1.4em;
			line-height: 20px;
			text-transform: uppercase;
			color: $white;
			border: 1px solid $white;
			border-radius: 4px;
			background: transparent;
			transition: all .3s ease-in-out !important; 
			&:hover{
				background-color: $white;
				color: $dark;
			}
		}	
	}

	.header__lang{
		display: flex;
		flex-direction: column;
		align-self: center;
		font-weight: 500;
		font-size: 1.4em;
		line-height: 16px;
		text-transform: uppercase;
		color: #A8A8A8;
		text-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
		cursor: pointer;
		.lang-active{
			color: $white;
		}
	}
}
// submenu /////////////////////////////////////////////////////////////////
			
@media(min-width: 768px){
	.submenu {
		position: absolute;
		z-index: 5;
		width: 350px;
	 	height: auto;
	 	background: $dark;
		visibility: hidden;
		opacity: 0;  
		transform: translateY(10px);
		transition: all .5s ease-in-out ;

		li {
			position: relative;
			transition: color 0.5s ease-in-out;
			margin: 8px;
			height: 56px;
			padding: 16px 0 !important;
			display: flex;
			align-items: center;
			&:hover{
				transition: none !important;
				>a, p{
					background-color: $white !important;
					color: $dark!important;
					border-radius: 4px !important;
					transition: none !important;
					border: none !important;
				}
			}
			a.active{
				background-color: $white !important;
				color: $dark!important;
				border-radius: 4px !important;
				transition: none !important;
			}
		}
		a, p {
			@include adaptiv-font(14, 11);
			line-height: 20px;
			width: 100%;
			padding: 16px !important;
			border: none!important;
			color: #161F26;
			text-align: left;
			&.active{
				color: $dark;
			}
		}
	}

	nav li:hover > .submenu{
	  visibility: visible;
	  opacity: 1;
	  transform: translateY(0px);
	}
}
// responsive/////////////////////////////////////////////////////////////////

.numbers-responsive, .header__bg, .header__lang_mobile{display: none;}

@media (max-width: 1400px) and (min-width: 992px){
	.header-body{
		.flex-container{
			flex-wrap: wrap;
			.header__brand{
				width: calc(60%/5) !important;
				flex: 0 0 12%;
			}
			.header__numbers{flex: 0 0 60%}

			.header__navigation{
				order: 3;
				flex: 0 0 100%;
				.navigation{
					.menu{
						li{
							&:nth-child(1){
								padding-left: 0;
							}
						}
					}
				}
			}
		}
	}
}

@media (max-width: 991.9999px) and (min-width: 768.1px) {
	.header-body{
		.flex-container{
			flex-wrap: wrap;
			.header__brand{
				//width: calc(80%/5) !important;
				flex: 0 0 15%;
			}
			.header__numbers{flex: 0 0 40%}

			.header__navigation{
				order: 3;
				flex: 0 0 100%;
				.navigation{
					.menu{
						li{
							&:nth-child(1){
								padding-left: 0;
							}
						}
					}
				}
			}
		}
	}
}

@media(max-width: 768px){
	.sub__link:after{
		content: url(../img/linkArrow.svg);
		color: inherit;
		margin-left: 10px;
		display: inline-block;
		transition: .3s ease-in-out;
	}
	.sub__link.open:after{
		transform:rotate(90deg);
	}
	.submenu{
		transition: .3s ease-in-out;
		position: relative;
		z-index: 5;
		height: 0;
		width: 100%;
		padding-left: 5%;
		background: transparent;
		box-shadow: none;
		visibility: hidden;
		opacity: 0;
		transform: translateX(-100vw);
		&.open{
			transform: translateY(0);
			height: 100%;
			visibility: visible;
			opacity: 1;
		}
	}
	.header__lang_link{display: none;}
	.header__lang_mobile{display: block;}
	.header__bg{display: block;}

	header{
		padding: 6%;
	}
	.header-body{
		padding: 3% 0;
		.flex-container{
			justify-content: space-between;
			padding: 0 16px !important;
			margin:0 !important;
		}
		.header__burger, .header__brand, .header__lang {
			z-index: 3;
		}

		.header__brand{
			width: calc(50%/2) !important;
		}

		.header__bg{
			left: 0;
			position: absolute;
			width: 100%;
			height: 100%;
			z-index: 2;
			background: $dark;
			box-shadow: 0 6px 4px rgba(0, 0, 0, 0.1);
		}
		.header__numbers, .header__btn{
			display: none;
		}
		.header__lang{font-size: 1.8em!important;}

		.header__navigation{
			display: block;
			position: absolute;
			top: 0;
			left:0;
			width: 100%;
			height: 100vh;
			background: $dark;
			z-index: 1;
			transform: translateX(-100vw);
			&.active{
				transform: translateY(0);
			}

			.navigation{
				.menu{
					flex-direction: column;
					margin-top: 20%;
					align-items: flex-start;
					li{
						margin-top: 4%;
						a, p{
							color: $white !important;
							font-size: 1.8em!important;
						}
					}
				}
			}
		}
	}
}