.hockey {
	background: rgba(21, 102, 165, 0.05);
	padding: 0;
	h2{
		padding: 0 1%;
	}
	.flex-container {
		justify-content: center;

		.hockey__content {
			text-align: center;
			padding: 3% 0 10%;

			h3 {
				font-style: normal;
				font-weight: bold;
				@include adaptiv-font(24, 14);
				line-height: 24px;
				color: $dark;
			}

			p {
				width: 100%;
				margin-top: 24px;
				font-style: normal;
				font-weight: normal;
				@include adaptiv-font(14, 11);
				line-height: 17px;
				color: $dark;
			}

			img {
				margin-top: 40px;
				width: 100%;
			}
		}
	}
}

@media (max-width: 900px) {
	.hockey{
		h2{letter-spacing: 0!important;}
	}
}

@media (max-width: 1200px) {
	.hockey__content{
		width: 80%!important;
	}
}

@media (max-width: 1024px) {
	.hockey{
		padding: 0!important;
	}
	.hockey__content{
		width: 80%!important;
		.btn{
			width: 100%!important;
		}
	}
}