.price__bg{
	position: absolute;
	width: 100%;
	z-index: -1;
}
.price{
	margin-top: 2%;
	.table{
		margin-top: 2%;
		@include block-style;
		padding: 64px 77px;
	}
}
table{
	border-collapse: collapse;
}
table *{
	color: $dark;
}
td{
	@include adaptiv-font(14, 11);
	text-align: left;
	line-height: 20px;
	padding: 12px 5% 12px 0;
}
td:nth-child(3){
	font-weight: bold;
}
th{
	text-align: left;
	padding-bottom: 40px;
}
.strong_first td{
	padding-top: 10px!important;
}
.strong td{
	padding: 35px 10% 5px 0;
	@include adaptiv-font(16, 12);
	line-height: 20px;
	font-weight: bold;
}
.strong{
	border:none;
}
.tab_head>th{
	@include adaptiv-font(20, 14);
	line-height: 20px;
}


.price__buttons{
	justify-content: space-between;
	.show-hide__btn{
		flex: 20% 0 0;
		background: #FFFFFF;
		box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
		border-radius: 8px;
		color: #1566A5;
		text-align: center;
		padding: 1.5% 0;
		text-transform: none !important;
	}
	.show-hide__btn{
		display: none;
	}
	.btn__left{

	}
	.btn__right{
		flex: 80% 0 0;
		text-align: right;
		button{
			text-transform: none !important;
			&:nth-child(1){
				background-color:#EDEFF1;
				color: #9FB3C4;
				&:hover{
					color: $dark
				}
			}

		}
	}
	button, a{
		margin-top: 64px;
	}
}

.disclaimer{
	margin-top: 2%;
	width: 40%;
	font-size: 12px;
	line-height: 16px;
	letter-spacing: 0.02em;
	color: #798A97;
}

@media (max-width: 500px) {
	.disclaimer{
		font-size: 10px;
		line-height: 12px;
		margin: 5% 0;
	}
}

@media (max-width: 900px) {
	.price{
		.table{
			padding: 3%;
			.serv-table{
				.display-none{
					display: none;
				}
				.resp-price{
					text-align: right;
				}
			}
		}
	}

	.price__buttons{
		justify-content: center;
		flex-direction: column;
		.btn__left{
			flex: 100% 0 0;
			margin-top: 5%;
		}
		.btn__right{
			flex: 100% 0 0;
			text-align: center;
			button{
				width: 100%;
				margin-top: 2%;
			}
		}
		.show-hide__btn{
			display: block;
		}
	}
	.disclaimer{
		width: 100%;
	}

	tbody.hide{
		height: 380px;
		display: inline-block;
		width: 100%;
		overflow: hidden;
	}
}