@import "burger.scss";

@media(max-width: 900px){	
}


@media(max-width: 1024px) and (min-width: 900.01px){
	html, body{
		font-size: 8.2px!important;
	}
}

@media(max-width: 1168px) and (min-width: 1024px){
	html, body{
		font-size: 8.5px!important;
	}
}

@media(max-width: 1645px) and (min-width: 1168px){
	html, body{
		font-size: 9px!important;
	}
}
