.strength__section{
	margin-top: 0;
	background-color: $dark;
	h2{
		padding: 2% 0 0;
		text-align: center;
		color:$white;
		margin-bottom: 0;
	}
	.flex-container{
		display: flex;
		justify-content: space-between;
		padding: 2% 0 4% 0;
		h3{
			font-style: normal;
			font-weight: 600;
			@include adaptiv-font(18, 12);
			line-height: 40px;
			color: $white;
			border-bottom: 1px solid #3B4853;
		}
		.strength__content_elem{
			background: rgba(21, 102, 165, 0.15);
			border: 1px solid #1566A5;
			border-radius: 8px;
			flex-wrap: wrap;
			padding: 1.5%;
			flex:0 0 24% ;
			color: $white;
			min-height: 250px;
			p{
				margin-top: 4%;
			}
		}
	}
 }

 //responsive//////////////////////////////////////////////////////////////////
@media (max-width: 1484px) and (min-width: 768.01px) {
	.strength__section {
		padding-top: 40px;
		.flex-container {
			padding: 0 147px 40px ;
			flex-wrap: wrap;
			.strength__content_elem{
				flex: 0 0 48%;
				margin-top: 24px;
				min-height: 200px;
			}
		}
	}
}
@media (max-width: 1023.999999px) and (min-width: 768.01px) {
	.strength__section {
		.flex-container {
			padding: 0 27px 40px ;
		}
	}
}
@media (max-width: 768px) {
	.strength__section {
		padding-top: 40px;
		h2{padding: 2% 16px}
		.flex-container {
			padding: 0 16px 40px ;
			flex-wrap: wrap;
			.strength__content_elem{
				flex: 0 0 100%;
				margin-top: 24px;
				min-height: 100px;
			}
		}
	}
}