.ved-section{
	padding: 0;
	margin-top: 1%;
	background-color: $dark;
	.ved__content{
		background: url("./../img/gerb.svg") center center / 50% no-repeat;
		max-width: 1400px;
		width: 100%;
		height: 100%;
	    margin: 0 auto;
		padding: 5% 0;
		display: flex;
		justify-content: center;
		flex-direction: column;
		h2{
			color: $white;
			text-align: center;
			padding: 80px 0;
		}
		.flex-container{
			flex-wrap: wrap;
			justify-content: space-between;
			.ved__content_elem{
				flex: 28% 0 0;
				
				margin-top: 3%;
				h3{
					font-weight: 600;
					font-size: 16px;
					line-height: 24px;
					color: $white;
					margin-top: 16px;
				}
				p{
					font-size: 14px;
					line-height: 24px;
					color: $lightgray;
					margin-top: 8px;
				}
			}
		}
	}
}

//responsive

@media (max-width:1024px) and (min-width: 768.1px) {
	.ved, .financial-services{
		.ved__content{
			.flex-container{
				justify-content: space-around;
				.ved__content_elem{
					flex: 40% 0 0;
				}
			}
		}
	}
}
@media (max-width:768px) {
	.ved, .financial-services{
		.ved__content{
			padding: 16px;

			h2{padding: 24px 0}
			.flex-container{
				text-align: center;
				justify-content: center;
				.ved__content_elem{
					flex: 100% 0 0;
					h3{
						text-align: center;
						margin-bottom: 0;
					}
				}
			}
		}
	}
}